<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :creation_date %>
    <%= f.date_select :creation_date %>
  </div>

  <!-- <div class="field">
    <%= f.label :last_modification_date %>
    <%= f.date_select :last_modification_date %>
  </div> -->

  <div class="actions">
     <%= submit_tag "Enviar" %>
  </div>
<% end %>
